  <!-- Main Content -->
<div class="container mx-auto mt-4">
  <!DOCTYPE html>
  <html lang="en">
  <head>

    <title >Welcome to Clipz</title>
   
  </head>
  <body>
    <div class="container">
      <header>
        <h1 id="txt1">Welcome to <span class="highlight">Clipz</span></h1>
      </header>
      <section class="about-section">
        <h2>Our Story</h2>
        <p>
          At Clipz, our passion for gaming fuels our mission to create a revolutionary platform dedicated to sharing the most thrilling gaming moments. Our journey began with a simple idea: to empower gamers to "<span class="highlight">Clip it and Ship it</span>," turning every epic play into a shareable masterpiece.
        </p>
      </section>
      <!-- Repeat similar sections for other content -->
  
      <footer>
        <section class="join-section">
          <h2>Join Us Today</h2>
          <p>
            Join the Clipz community and become part of a movement where every play matters. Clip it and ship it - whether you're sharing, discovering, or just seeking inspiration, we invite you to explore, connect, and unleash your gaming prowess.
          </p>
          <p>Welcome Aboard !</p>
        </section>
      </footer>
    </div>
  </body>
  </html>
  
</div>