<body>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>My Portfolio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="/src/assets/img/favicon.png" rel="icon">
    <link href="/src/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- font icons -->
    <link href="/src/assets/vendor/themify-icons/css/themify-icons.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
          
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="/src/assets/vendor/aos/aos.css" type="text/css" >
    <link href="/src/assets/vendor/bootstrap/css/bootstrap.min.css" type="text/css">
    <link href="/src/assets/vendor/bootstrap-icons/bootstrap-icons.css" type="text/css">
    <link href="/src/assets/vendor/boxicons/css/boxicons.min.css" type="text/css">
    <link href="/src/assets/vendor/glightbox/css/glightbox.min.css" type="text/css">
    <link href="/src/assets/vendor/swiper/swiper-bundle.min.css" type="text/css">
  
    <!-- Template Main CSS File -->
    <link href="/src/assets/css/style.css" type="text/css">
    <!-- Bootstrap + Meyawo main styles -->
    <link href="/src/assets/css/meyawo.css" type="text/css">
  </head>

  <main id="main">
    <!-- ======= Home Section ======= -->
    <header id="home" class="header">
      <div class="overlay"></div>    
      <div class="header-content container">
          <h1 class="header-title">
              <span class="up">HI!</span>
<!--
              <div class="stage">
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
              </div>
-->
              <span class="down">I'm Diluna Chathuranga</span>

          </h1>


          <p class="header-subtitle2">
          <app-loader></app-loader>
          </p>

          <button class="btn-rounded btn btn-outline-primary mt-4"> <a href="#portfolio" style="text-decoration: none; "><span style=" font-size: large; ; font-weight: bolder;">Visit My Works</span></a></button>
          
   
          <style>
            * *, *::before, *::after { 
              animation-play-state: running !important;
            }
          </style>
          <script>window.setTimeout = null;</script>
          
      </div>          
    </header><!-- end of page header -->
</main>

<main id="main">
  <section id="about" class="about">
        
        <div class="container text-center">
          <p class="section-subtitle" style="font-family: cursive;">Who Am I ?</p>

          <h2 class="section-title mb-3 font-bold mb-2 text-3xl" style="padding-bottom: 0px; letter-spacing: 3px; text-align: center; color: aliceblue; font-size: xxx-large; padding: 2px; text-shadow: 2px -3px 0 black, -3px -3px 0 black, 3px 3px 0 black, -4px 3px 0 black;">About Me</h2>

          <div class="about">
            <div class="about-img-holder">
                <img src="../assets/img/man.png" class="about-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            </div>

            <div class="about-caption">
              <p style="font-size: large; font-family: Poppins;">
                  An innovative tech enthusiast with a strong foundation in maths, programming logic, and cross-platform coding.
                  Seeking more opportunities to fine-tune the art of Software Engineering. I’m keen on sharing my knowledge and
                  trying out new things for the betterment of the world with the help of technology
                </p>
               
                <button class="btn-rounded btn btn-outline-primary mt-4" (click)="downloadPDF()"><span style=" font-size: large; ; font-weight: 500;">Download CV </span></button>
                <button class="btn-rounded btn btn-outline-primary mt-4"> <a href="#contact" style="text-decoration: none; "><span style=" font-size: large; ; font-weight: 500;">Hire Me</span></a></button>
          
            </div>              
          </div><!-- end of about wrapper -->
        </div>

      </section><!-- End About Section -->  
 </main> 

<main id="main">
  <section id="resume" class="resume">
      <div class="container text-center">
        <p class="section-subtitle" style="font-family: cursive;">What I Done ?</p>
        <h2 class="section-title mb-3 font-bold mb-2 text-3xl" style="padding-bottom: 0px; letter-spacing: 3px; text-align: center; color: aliceblue; font-size: xxx-large; padding: 2px; padding-bottom: 27px; text-shadow: 2px -3px 0 black, -3px -3px 0 black, 3px 3px 0 black, -4px 3px 0 black;">My Resume</h2>

    <div class="section-title">
      <p style="font-size: large; font-family: Poppins;">"Passionate software engineer with a proven track record of designing and implementing innovative solutions to complex technical challenges, committed to delivering high-quality software products."</p>
    </div>

    <div class="modal-body row">

      <div class="col-md-6">

      

        <h3 class="resume-title">Education</h3>

        <div class="resume-item">
          <h4>B.Sc. Special (Hons) Degree in Information Technology</h4>
          <p style="font-style: bold;"><mark>2016 - 2020</mark></p>
          <h5>Sri Lanka Institute of Information Technology (SLIIT)</h5>
          <p><em>Country: Sri Lanka</em></p>
    
        <a href="#" (click)="openModalImg($event,'../assets/img/sliit.jpg')">
          <button id="myImg" class="btn-rounded btn btn-outline-primary mt-4"><span style=" font-size: smaller; font-weight: 500; font-family: Poppins;">View Certificate</span></button>    
          </a>
          
        </div>
      
        <br/><br/>

        <div class="resume-item">
          <h4>Introduction to Cyber Security  </h4>
          <h5>CISCO Network Academy</h5>
          <br/>
        
        <a href="#" (click)="openModalImg($event,'../assets/img/cisco.jpg')">
          <button id="myImg" class="btn-rounded btn btn-outline-primary mt-4"><span style=" font-size: smaller; ; font-weight: 500; font-family: Poppins;">View Certificate</span></button>    
          </a>
          
        </div>
        <br/><br/>

        <div class="resume-item">
          <h4>G.C.E Advance Level (Mathematics)</h4>
          

          <h5>Dharmasoka College, Ambalangoda.</h5>
          <p><em>Country: Sri Lanka</em></p>
        
          <a href="#" (click)="openModalImg($event,'../assets/img/al.jpg')">
            <button id="myImg" class="btn-rounded btn btn-outline-primary mt-4"><span style=" font-size: smaller; ; font-weight: 500; font-family: Poppins;">View Certificate</span></button>    
            </a>
        </div>

        <br/><br/>

        <div class="resume-item">
          <h4>G.C.E Ordinary Level</h4>
         

          <h5>Dharmasoka College, Ambalangoda.</h5>
          <p><em>Country: Sri Lanka</em></p>
        
          <a href="#" (click)="openModalImg($event,'../assets/img/ol.jpg')">
            <button id="myImg" class="btn-rounded btn btn-outline-primary mt-4"><span style=" font-size: smaller; ; font-weight: 500; font-family: Poppins;">View Certificate</span></button>    
            </a>
        </div>

      </div>

    <div class="col-md-6">
      <h3 class="resume-title">Professional Experience</h3>

      <div class="resume-item">
          <h4>  Software Engineer</h4>
          <h5>HCL Technologies - Fulltime (3 Years) [ 2020 – Current ]</h5>
          <p><em>Colombo, Sri Lanka</em></p>
          <p><em><mark>Worked on a project "VodaFone" - Backend Java | Spring Boot</mark></em></p>

       
          <ul style=" text-align: justify; list-style: square;">
            <li style="font-family: Poppins;">Implement enterprise web base application and REST api's with 5 team members for online expansion ofproduct sales.</li>
            <li style="font-family: Poppins;">Got the opportunity to get hands-on experience with trending technologies in real-time projects.(Jenkins, Docker, Kubernetes, Ansible, GIT)</li>
          </ul>

        
        <p><em><mark>Worked on a Project "Leaseplan" - Backend RPGLE | IBM i series</mark></em></p>
        <ul style=" text-align: justify; list-style: square;">
          <li style="font-family: Poppins;">Took the responsibility of managing client change requests on the backend NOLS system and Maintain maximum uninterrupted flow of business with the operation team.</li>
          <li style="font-family: Poppins;"> Based on the BRD implements more than 6 new features which currently live on NOLS system</li>
        </ul>

      <p><em><mark>Key Achivements :</mark></em></p>
      <ul style=" text-align: justify; list-style: square;">
        <li style="font-family: Poppins;">Maintain maximum uninterrupted flow of business with the operation team.</li>
        <li style="font-family: Poppins;">By identifying an alternative way to execute CL commands in a RPGLE program(NOLS system), reduce the runtime by 56% which significantly improve the overall performance.</li>
      </ul>
   
        <a href="#" (click)="openModalImg($event,'../assets/img/hcl.jpg')">
        <button id="myImg" class="btn-rounded btn btn-outline-primary mt-4"><span style=" font-size: smaller; ; font-weight: 500; font-family: Poppins;">View Certificate</span></button>    
        </a>
   
    </div>

      <br/>

      <div class="resume-item">
          <h4>Software Developer (Intern) - 1 Year</h4>
          <h5>Virtusa Pvt. Ltd. [ 2018 – 2019 ]</h5>
          <p><em>Colombo, Sri Lanka</em></p>

          <p><em><mark>Worked on a project "NewYork Life" - Java | Spring boot | Angular</mark></em></p>


          <ul style=" text-align: justify; list-style: square;">
            <li style="font-family: Poppins;">By working in a professional environment got familiarity with Software Development Life Cycle(Agile) and Coding Standards.</li>
            <li style="font-family: Poppins;">Engineered modern Applications with Java, JavaScript, Angular, and SQL Server.</li>
            <li style="font-family: Poppins;">Involved with bug fixing-Analyze the problem statement of and implement the necessary changes and committed the code to GIT</li>
          </ul>

          <p><em><mark>Key Achivements :</mark></em></p>
          <ul style=" text-align: justify; list-style: square;">
            <li style="font-family: Poppins;">Created and sustained several web based applications with a 94% average bug free code by maintaining high coding standard.</li>
            <li style="font-family: Poppins;">Worked on the innovation team to design new features for an existing system</li>
          </ul>

          <a href="#" (click)="openModalImg($event,'../assets/img/virtusa.jpg')">
            <button id="myImg" class="btn-rounded btn btn-outline-primary mt-4"><span style=" font-size: smaller; ; font-weight: 500; font-family: Poppins;">View Certificate</span></button>    
            </a>
      </div>

    </div>

      </div>

    </div>
  </section><!-- End Resume Section -->
</main>

  <!--Skills-->
<main id="main">
    <section id="skills" class="skills">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    
    <p class="section-subtitle" style="font-family: cursive;">What I USe ?</p>
    <h2 class="section-title mb-3 font-bold mb-2 text-3xl" style="padding-bottom: 0px; letter-spacing: 3px; text-align: center; color: aliceblue; font-size: xxx-large; padding: 2px; padding-bottom: 27px; text-shadow: 2px -3px 0 black, -3px -3px 0 black, 3px 3px 0 black, -4px 3px 0 black;">Skills</h2>
    <p style="font-size: large; font-family: Poppins;">"Proficient in developing scalable and efficient software solutions with a strong foundation in software architecture and design"</p>
  </div>
  
  
  <main id="main1">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="padding-right: 12px;">

   
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-secondary transparent-card">
        <div class="card-header text-bg-dark border-secondary">
          <h4 class="my-0 fw-normal">Backend</h4>
        </div>
        <div class="headernew text-bg-dark border-secondary ">
          
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" class="devicon myDIV" height="70px" width="70px" /> <li class="hide" style="color: black; font-family: cursive; font-size: larger;">Java </li>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" class="devicon myDIV" height="50px" width="50px" /> <li class="hide" style="color: black; font-family: cursive; font-size: larger;">Spring Framework </li> 
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" class="devicon myDIV" height="70px" width="70px" /> <li class="hide" style="color: black; font-family: cursive; font-size: larger;">MySQL </li>    
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain.svg" class="devicon myDIV" height="70px" width="70px" /> <li class="hide" style="color: black; font-family: cursive; font-size: larger;">Firebase </li>
            <br/>
            <li style="color: black; font-family: cursive; font-size: larger;">More...</li>    
          </ul>
        </div>

      </div>

      </div>
    </div>

    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-secondary transparent-card">
        <div class="card-header text-bg-dark border-secondary">
          <h4 class="my-0 fw-normal">frontend</h4>
        </div>

        <div class="headernew text-bg-dark border-secondary ">
          
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" class="devicon myDIV" height="70px" width="70px" /> <li class="hide" style="color: black; font-family: cursive; font-size: larger;">Angular </li>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" class="devicon myDIV" height="50px" width="50px" /> <li class="hide" style="color: black; font-family: cursive; font-size: larger;">JavaScript </li> 
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" class="devicon myDIV" height="70px" width="70px" /> <li class="hide" style="color: black; font-family: cursive; font-size: larger;">HTML </li>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" class="devicon myDIV" height="70px" width="70px" /> <li class="hide" style="color: black; font-family: cursive; font-size: larger;">CSS </li>
            <br/>
            <li style="color: black; font-family: cursive; font-size: larger;">More...</li>    
          </ul>         
        </div>

      </div>

      </div>
    </div>
 
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-secondary transparent-card">
        <div class="card-header text-bg-dark border-secondary">
          <h4 class="my-0 fw-normal">Technologies</h4>
        </div>

        <div class="headernew text-bg-dark border-secondary ">
        <div class="card-body">
          
          <ul class="list-unstyled mt-3 mb-4">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" class="devicon myDIV" height="70px" width="70px" /><li class="hide" style="color: black; font-family: cursive; font-size: larger;">Docker</li>            
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jenkins/jenkins-original.svg" class="devicon myDIV" height="70px" width="70px" /><li class="hide" style="color: black; font-family: cursive; font-size: larger;">Jenkins</li>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" class="devicon myDIV" height="70px" width="70px" /><li class="hide" style="color: black; font-family: cursive; font-size: larger;">GIT</li>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tensorflow/tensorflow-original.svg" class="devicon myDIV" height="70px" width="70px" /><li class="hide" style="color: black; font-family: cursive; font-size: larger;">TensorFlow</li>
            <br/>
            <li style="color: black; font-family: cursive; font-size: larger;">More...</li>                    
          </ul>
          
        </div>
        </div>
      </div>
    </div>
    
  </div>
  </main>
</section>
</main>

<!--
  <main id="main">
    <section id="services" class="services">
        <div class="container text-center">
          <p class="section-subtitle">What I Offer ?</p>
          <h2 class="section-title mb-3">Services</h2>
        
          <div class="section-title">
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
    
          <main id="main1">
          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div>
        </main>
    
        </div>
      </section>
  </main>
-->
<main id="main">
    <section id="portfolio" class="portfolio">
         
        <div class="container text-center">
          <p class="section-subtitle" style="font-family: cursive;">What I Build ?</p>
          <h2 class="section-title mb-3 font-bold mb-2 text-3xl" style="padding-bottom: 0px; letter-spacing: 3px; text-align: center; color: aliceblue; font-size: xxx-large; padding: 2px; padding-bottom: 27px; text-shadow: 2px -3px 0 black, -3px -3px 0 black, 3px 3px 0 black, -4px 3px 0 black;">Projects</h2>
        
          <div class="section-title">
            <p style="font-size: large; font-family: Poppins;">"Explore my diverse portfolio showcasing innovative projects that reflect my passion for creativity, problem-solving, and cutting-edge technology."</p>
          </div>
    
          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">Explore the showcases of some of my personal projects.</li>
              
              </ul>
            </div>
          </div>
        </div>
         
    </section><!-- End Portfolio Section -->
</main>
<!--Render projects-->
<main id="main1">
  <app-clips-list></app-clips-list> 
</main>

<br/><br/><br/>
   
<main id="main">
    <section id="contact" class="contact">
        <div class="container text-center">
          <p class="section-subtitle"  style="font-family: cursive;">How to Connect?</p>
          <h2 class="section-title mb-3 font-bold mb-2 text-3xl" style="letter-spacing: 3px; text-align: center; color: aliceblue; font-size: xxx-large; padding: 2px; padding-bottom: 27px; text-shadow: 2px -3px 0 black, -3px -3px 0 black, 3px 3px 0 black, -4px 3px 0 black;">Contacts</h2>
        
          <div class="section-title">
            <p style="font-size: large; font-family: Poppins;">""Feel free to reach out! Whether you have questions, collaboration ideas, or just want to say hello, I'd love to hear from you. Use the contact form below to get in touch.""</p>
          </div>
    
          <div class="row" data-aos="fade-in">
    
      
    
            <div class="container contact-form">
              <div class="contact-image" style="text-align: center;">
                <img src="../assets/img/rocket-contact.png" alt="rocket_contact"/>
            </div>
              <form action="https://formspree.io/f/mdoqapqb" method="post" >
                <h3>Drop Us a Message</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
              </form>
            </div>
    
          </div>
    
          
        </div>
        <div > <a href="#home" ><img src="../assets/img/uparrow.png" alt="uparrow" style=' text-align: right; text-decoration: none; width: 100px; height: 50px; float: right; padding-right: 40px; ' /></a></div>
      </section><!-- End Contact Section -->
      
</main>



<!--adding scripts-->
  <!-- Vendor JS Files -->
  <script src="/src/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/src/assets/vendor/aos/aos.js"></script>
  <script src="/src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/src/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/src/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/src/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/src/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="/src/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/src/assets/vendor/php-email-form/validate.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/src/assets/js/main.js"></script>

  <!-- core  -->
  <script src="/src/assets/vendor/jquery/jquery-3.4.1.js"></script>
  <script src="/src/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>

  <!-- bootstrap 3 affix -->
  <script src="/src/assets/vendor/bootstrap/js/bootstrap.affix.js"></script>

  <!-- Meyawo js -->
  <script src="/src/assets/js/meyawo.js"></script>
  <script src="/src/assets/js/splitting.js"></script>
</body>

